doctype html
html(lang="ru")
	include partails/head.pug
	body


	form.form
		h1.form__title Заполните форму
		.form__container
			.form__important.form-important
				h2.form-important__title Важно знать
				p.form-important__text.
					Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. За одна повстречался пустился путь рот дал рекламных ipsum залетают сих послушавшись. Залетают одна то, алфавит вопрос заглавных знаках предупредила буквенных lorem подпоясал. Ручеек имеет не возвращайся, оксмокс они домах. Щеке переписывается образ жаренные точках ему встретил. Если журчит буквоград рекламных сих вдали реторический первую точках до, продолжил страну! Одна но за первую однажды рыбного, вдали они проектах, грустный обеспечивает которой это продолжил образ, пустился грамматики она заголовок себя семь? Что курсивных снова переписывается, напоивший дороге жизни толку домах заманивший, однажды запятых сбить заголовок знаках парадигматическая семантика речью, наш он.
			.form__content.form-content
				header.form-content__header
					.form-content__title Общая информация
				//form-grid
				.form__grid
					.form__grid-item.form-item
						label.form-item__label
							.form-item__title Фамилия
							input.form-item__field.js-form-field(type="text")
					.form__grid-item.form-item
						label.form-item__label
							.form-item__title Имя
							input.form-item__field.js-form-field(type="text")
					.form__grid-item.form-item
						label.form-item__label
							.form-item__title Отчество
							input.form-item__field.js-form-field(type="text")
					.form__grid-item.form-item
						.form-item__title Меняли фамилию?

						label.form-item__label
							input.form-item__radio(type="radio" name="change-lastname")
							span.form-item__radio-text Да

						label.form-item__label
							input.form-item__radio(type="radio" name="change-lastname")
							span.form-item__radio-text Нет
					.form__grid-item.form-item
						.form-item__title Пол

						label.form-item__label
							input.form-item__radio(type="radio" name="male-female")
							span.form-item__radio-text Муж.

						label.form-item__label
							input.form-item__radio(type="radio" name="male-female")
							span.form-item__radio-text Жен.

					.form__grid-item.form-item
						.form-item__title Семейное положение
						select.form-item__select
							option.form-item__option Женат/Замужем
							option.form-item__option Холост(а)
				//form-bar
				.form__bar.bar
					.bar__line.js-form-bar

				//form-bar-set
				.form__set-bar.form-set-bar
					input.form-set-bar__field.js-set-bar-field(type="number")
					button.form-set-bar__btn.btn.js-set-bar-btn(type="button") Применить
					.form-set-bar__bar.bar
						.bar__line.js-set-bar.bar

				a.btn.form__btn-result.js-form-save(href="https://vk.com/doc204027315_475865159" target="_blank") Кнопка

	script(src="js/main.js")

